langchain-community
langchain-openai 
langchain-google-genai 
langchain-chroma 
langchain 
langgraph 
tavily-python 
langchain-huggingface 
langchain-tavily
PyPDF2
python-docx
tiktoken
sentence_transformers
slowapi
motor
pyvi
rank_bm25
cohere
google-generativeai
openai
qdrant-client
streamlit

# đánh giá hệ thống RAG sử dụng RAGAs
ragas
llama-index